<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chef">

<select id="selectChefList" resultType="chef">
	select
		*
	from
		(select *
		 from tb_member m
		 where member_roll = 'C') m
		join  tb_chef c on c.member_id = m.member_id
	order by
		c.regdate
</select>

<select id="selectChefRequestList" resultType="chefRequest">
	select
		*
	from
		tb_chef_req
	order by
		regdate
</select>

<select id="selectChefRequest" resultType="chefRequest">
	select
		*
	from
		TB_chef_req
	where
		member_id = #{memberId}
</select>

<select id="selectChefRequestListCnt" resultType="string">
	select
		count(*)
	from 
		tb_chef_req
</select>

</mapper>