<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chef">


<resultMap type="chef" id="chefMap">
<result column="member_id" property="chefId"/>
<result column="member_nick" property="chefNickName"/>
<result column="menu_pr_category" property="chefCategory"/>
</resultMap>

<update id="chefRequestUpdate">
	update 
		tb_chef_req
	set
		chef_req_ok	= #{variable}
	where
		member_id = #{chefId}
</update>


<select id="selectChefAllList" resultMap="chefMap">
	select 
		C.*, 
		M.member_nick 
	from
	 	tb_chef C 
	join tb_member M 
	on C.member_Id = M.member_Id	
	order by
	C.regdate
</select>

<select id="selectChefRequestList" resultMap="chefReqMap">
	select
		*
	from
		tb_chef_req c
		join tb_member m using(member_id)
	order by
		c.regdate
</select>

<resultMap type="chefRequest" id="chefReqMap" >
	<result column="member_id" property="chefId"/>
	<result column="member_nick" property="chefNickName"/>
	<result column="chef_sns" property="sns" typeHandler="strArrTypeHandler"/>
</resultMap>

<select id="selectChefRequest" resultType="chefRequest">
	select
		*
	from
		TB_chef_req
	where
		member_id = #{memberId}
</select>

<select id="selectChefRequestListCnt" resultType="string">
	select
		count(*)
	from 
		tb_chef_req
</select>

<insert id="chefRequest">
	insert into 
	 	TB_chef_req
	 values(
	 #{chefId},
	 #{chefProfile},
	 #{sns},
	 #{chefContent},
	 #{chefApVideo},
	 #{menuPrCategory},
	 #{businessInfo},
	 default,
	 default
	 ) 
</insert>


</mapper>