<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

<select id="selectMember" resultType="Member">
	select
		*
	from
		tb_member
	where
	<if test="memberId != ''">
		member_id = #{memberId}
	</if>
	<if test="memberNick != ''">
		member_nick = #{memberNick}
	</if>
</select>

<select id="selectOne" resultType="Member">
	select
		*
	from
		tb_member
	where
		member_id = #{memberId}
</select>

<select id="selectMemberList" resultType="Member">
	select
		*
	from
		tb_member
	order by 
		regdate
</select>

</mapper>