<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mall">

<select id="selectBuyList" resultType="buyHistory">
	select
		*
	from
		tb_buy_list
	where
		member_id = #{memberId}
</select>

<select id="selectIngredientList" resultType="ingredientMall">
	select
		*
	from
		tb_Ingredient_mall
</select>



</mapper>