<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mall">

<select id="selectBuyList" resultMap="BuyHistoryMap">
	<!-- select
		*
	from
		tb_buy_list
	where
		member_id = #{buyMemberId} -->
	select
		i.INGREDIENT_NAME,
		bn.stock,
		bn.price,
		bn.stock*bn.price,
		bl.regdate
	from
		TB_Ingredient i left join tb_Ingredient_mall im on i.Ingredient_no = im.Ingredient_no
	                    left join tb_buy_no bn on im.Ingredient_no = bn.Ingredient_no
	                    left join tb_buy_list bl on bn.buy_no = bl.buy_no
	
	where bl.member_id = #{buyMemberId}
</select>


<select id="selectAdminBuyList" resultType="buyHistory">
	select
		*
	from
		tb_buy_list
</select>

<resultMap id="BuyHistoryMap" type="BuyHistory">
    <result column="member_id" property="buyMemberId"/>
    <result column="INGREDIENT_NAME" property="buyIngredIentName"/>
	<result column="REGDATE" property="buyRegdate"/>
	<result column="email" property="buyEmail"/>
	<result column="bn.stock*bn.price" property="totalPrice"/>
</resultMap>


<select id="selectIngredientList" resultMap="ingMallMap">
	select
		*
	from
		tb_Ingredient i
		join tb_ingredient_mall im on i.ingredient_no = im.ingredient_no
	where
		i.ing_cd_category	= #{column}
</select>


<select id="selectBuyHistoryListCnt" resultType="string">
	select
		count(*)
	from
		tb_buy_list 
</select>

<select id="selectBuyHistoryList" resultType="buyHistory">
	select
		*
	from
		tb_buy_list 
</select>

<select id="selectIngMallOne" resultMap="ingMallMap">
	select
		*
	from
		tb_ingredient_mall
	join tb_ingredient using(ingredient_no)
		
	where
		ingredient_no = #{ingMallNo}
</select>
<resultMap type="IngredientMall" id="ingMallMap">
	<id column="ingredient_no" property="ingMallNo"/>
	<result column="ingredient_name" property="ingMallName"/>
	<result column="ING_FILENAME" property="prevImg"/>
	<result column="ENG_PR_CATEGORY" property="mallEngPrCategory"/>
	<result column="ENG_CD_CATEGORY" property="mallEngCdCategory"/>
</resultMap>


<!-- 장바구니  -->
<insert id="insertCart">
	insert into
		tb_shopping_basket
	values(
		#{sbMemberId},
		#{sbIngNo},
		#{sbStock})
</insert>
<update id="updateCart">
	update
		tb_shopping_basket
	set
		stock = ${sbStock}
	where
		member_id = #{sbMemberId} 
		and
		ingredient_no = #{sbIngNo}
</update>
<select id="selectCart" resultMap="sbMap">
	select
		ingredient_no, stock
	from
		tb_shopping_basket
	where
		member_id = #{sbMemberId}
		and
		ingredient_no = #{sbIngNo}
</select>
<delete id="deleteCart">
	delete from
		tb_shopping_basket
	where
		member_id = #{sbMemberId}
		and
		ingredient_no = #{sbIngNo}
</delete>


<select id="selectCartList" resultMap="sbMap">
	select
		sb.*,i.INGREDIENT_NAME, ig.PRICE, ig.MIN_UNIT, i.ENG_PR_CATEGORY, i.ENG_CD_CATEGORY, i.ING_FILENAME
	from
		tb_shopping_basket sb
		join tb_ingredient_mall ig on sb.INGREDIENT_NO = ig.INGREDIENT_NO
		join tb_ingredient i on sb.INGREDIENT_NO = i.INGREDIENT_NO
	where
		sb.member_Id = #{memberId}
</select>
<resultMap type="Cart" id="sbMap">
	<id column="INGREDIENT_NO" property="sbIngNo"/>
	<result column="stock" property="sbStock"/>
	<result column="MEMBER_ID" property="sbMemberId"/>
	<result column="INGREDIENT_NAME" property="ingMallName"/>
	<result column="MIN_UNIT" property="minUnit"/>
	<result column="ENG_PR_CATEGORY" property="mallEngPrCategory"/>
	<result column="ENG_CD_CATEGORY" property="mallEngCdCategory"/>
	<result column="ING_FILENAME" property="prevImg"/>

</resultMap>
<select id="selectIngMallSearch" resultMap="ingMallMap">
	select 
		*
	from
		tb_ingredient_mall im
        join tb_ingredient i on im.INGREDIENT_NO = i.INGREDIENT_NO
	where
		i.INGREDIENT_NAME like '%'||#{keyword}||'%'
</select>

<select id="prCategory" resultType="String">
	select 
	eng_pr_category 
	from 
	(select 
		eng_pr_category 
	 from 
	 	tb_ingredient 
	 where 
	 ing_pr_category =#{pr})
	 group by eng_pr_category

</select>
<select id="crCategory" resultType="String">
select 
	eng_cd_category 
from (select 
		eng_cd_category 
	  from tb_ingredient 
	  where ing_cd_category = #{cr})
	   group by eng_cd_category
</select>
<insert id="ingredientInsert">
{call
	declare
		begin
		
			insert into 
				tb_ingredieont
			values(
				seq_Ingredient.nextval(),
				#{ingPrCategory},
				#{ingPrCategory},
				#{ingredientName},
				#{ingfileName},
				#{engPrCategory},
				#{engPrCategory}
			);
			
			insert	into
				tb_ingredient_mall
			values(
				seq_ingredient.currval(),
				#{price},
				#{stock},
				#{minUnit},
				#{ingOrigin},
				#{shelfLife},
				#{ingInfo}
			);
			
			commit;
	end
}

</insert>
</mapper>