<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="recipe">

	<select id="selectIngSubCtg" resultType="string">
		select ing_cd_category  from (select * from tb_ingredient where ing_pr_category = #{mainCtg}) group by ing_cd_category order by ing_cd_category
	</select>
	
	<select id="selectIngredients" resultType="Ingredient">
		select * from tb_ingredient where ing_cd_category = #{subCtg}
	</select>
	
	
	<select id="selectIngredientsCnt" resultType="_int">
		select count(*) from tb_ingredient where ing_cd_category = #{subCtg}
	</select>
  
	
	<select id="ingredientAjax" resultType="ingredient">
		select *
		from TB_Ingredient
		where ingredient_name like '%'||#{ingr}||'%'
	</select>
	<insert id="recipeUpload" parameterType="recipe">
		insert into 
			TB_recipe
		values(
			seq_recipe.nextval,
			#{videoTitle},
			#{videoLink},
			#{timeline},
			#{menuName},
			#{chefNick},
			#{chefId},
			#{cookingTime},
			#{category},
			#{recipeContent},
			default,
			default
		)
		<selectKey keyProperty="recipeNo" resultType="_int" order="AFTER">
			select seq_recipe.currval from dual
		</selectKey>
	</insert>
	<insert id="recipeIngrUpload" parameterType="recipeIngredient">
		insert into
			tb_rec_Ingredients
		values(
			#{recipeNo},
			<choose>
				<when test="ingredientNo!=0">
					#{ingredientNo},
				</when>
				<when test="ingredientNo==0">
					null,
				</when>
			</choose>
			#{minWeight},
			#{ingredientName}
		)
	</insert>
	<select id="selectRecipeOne" resultType="recipe">
		select 
			*
		from 
			tb_recipe 
		where 
			recipe_no=#{recipeNo}
	</select>
	<select id="selectRecIngList" resultType="recipeIngredient">
		select 
			*
		from
			tb_rec_ingredients 
		where 
			recipe_no=#{recipeNo}
	</select>
	<select id="selectCategoryList" resultType="menuCategory">
		select
			*
		from
			TB_menu_category
	</select>
	<select id="selectLikeOne" resultType="like">
		select
			*
		from
			TB_like
		where
			recipe_no = #{recipeNo}
			and
			member_id = #{memberId}
	</select>
	<insert id="insertLike" parameterType="like">
		insert into tb_like
		values(
    		#{memberId},
    		#{recipeNo}
		)
	</insert>
	<delete id="deleteLike">
		delete from tb_like 
		where 
			member_id = #{memberId} 
			and recipe_no = #{recipeNo}
	</delete>
	<select id="selectScrap" resultMap="scrapMap">
		select s.*, r.chef_nick, r.video_title
		from 
    		TB_scrap s
    		join tb_recipe r
        		on s.recipe_no = r.recipe_no
		where 
			s.member_id = #{scrapId}
			and 
			s.recipe_no = #{recipeNo}
	</select>
	<insert id="insertScrap">
		insert into TB_scrap
		values(
    		#{scrapId},
    		#{recipeNo},
    		default,
    		#{meMo}
		)
	</insert>
	<delete id="deleteScrap">
		delete from TB_scrap 
		where 
			member_id = #{scrapId}
			and 
			recipe_no= #{recipeNo}
	</delete>
	<update id="increaseReadCount">
		update tb_recipe 
		set view_count = view_count +1 
		where recipe_no = #{recipeNo}
	</update>
	
	<select id="selectReport" resultMap="reportMap">
		select
			*
		from
			tb_report;
	</select>
	
	<insert id="reportMap">
		insert into
			tb_report
		values(
			#{repMemberId},
			#{replyNo},
			#{reportDate},
			#{reportReason}
		)
	</insert>
	
	<resultMap type="scrap" id="scrapMap">
		<result column="member_id" property="scrapId"/>
		<result column="recipe_no" property="recipeNo"/>
		<result column="regdate" property="regDate" javaType="java.sql.Date"/>
		<result column="memo" property="meMo"/>
		<result column="chef_nick" property="chefNick"/>
		<result column="video_title" property="videoTitle"/>
	</resultMap>
	
	<resultMap id="reportMap" type="report">
		<result column="member_id" property="repMemberId"></result>
	</resultMap>
</mapper>